<!-- Footer-->
<footer class="main-footer">
    <!-- Service Block-->
    <div class="services-block">
    <div class="container">
        <div class="row">
        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
            <div class="item d-flex align-items-center">
            <div class="icon"><i class="icon-truck"></i></div>
            <div class="text">
                <h6 class="no-margin text-uppercase">Frete Grátis para Grande SP</h6><span>nas compras acima de R$150,00</span>
            </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="item d-flex align-items-center">
            <div class="icon"><i class="icon-coin"></i></div>
            <div class="text">
                <h6 class="no-margin text-uppercase">Produto Garantido</h6><span>Certeza de qualidade!</span>
            </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="item d-flex align-items-center">
            <div class="icon"><a id="contact"><i class="icon-headphones"></i></a></div>
            <div class="text">
                <h6 class="no-margin text-uppercase">(011) 94-025-8618</h6><span>Dúvidas? <br>Estamos a disposição para te ajudar</span>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- Main Block -->
    <div class="main-block">
    <div class="container">
        <div class="row">
        <div class="info col-lg-4">
            <div class="logo"><%= link_to image_tag("logo-cindy-50.png", :alt => "Cindy Nine Nine"), root_path %></div>
            <p>A tabacaria que você procura.</p>
            <ul class="social-menu list-inline">
            <li class="list-inline-item"><a href="https://web.facebook.com/cindyninenine/" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/cindyninenine/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="site-links col-lg-2 col-md-6">
            <h5 class="text-uppercase">Produtos</h5>
            <ul class="list-unstyled">
            <li> <a href="">Tabaco</a></li>
            <li> <a href="">Sedas</a></li>
            <li> <a href="">Dichavadores</a></li>
            <li> <a href="">Isqueiros</a></li>
            <li> <a href="">Bandeijas</a></li>
            </ul>
        </div>
        <div class="site-links col-lg-4">
            <h5 class="text-uppercase">Empresa</h5>
            <ul class="list-unstyled">
            <li><strong>Endereço:</strong></li>
            <li>Centro Comercial D+ (Posto BR)</li>
            <li>Avenida José Georgi, 278</li>
            <li>loja 33b</li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <div class="copyrights">
    <div class="container">
        <div class="row d-flex align-items-center">
        <div class="text col-md-6">
            <p>Powered by Marcelo Escobar &copy; 2019</p>
        </div>
        <div class="payment col-md-6 clearfix">
            <ul class="payment-list list-inline-item pull-right">
            <li class="list-inline-item"><%=image_tag("mastercard.svg", :alt => "...")%></li>
            <li class="list-inline-item"><%=image_tag("visa.svg", :alt => "...")%></li>
            <!-- <li class="list-inline-item"><%=image_tag("paypal.svg", :alt => "...")%></li> -->
            </ul>
        </div>
        </div>
    </div>
    </div>
</footer>
