<!-- Multi level dropdown    -->
<li class="nav-item dropdown"><a id="navbarDropdownMenuLink" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">Dropdown<i class="fa fa-angle-down"></i></a>
<ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
    <li><a href="#" class="dropdown-item">Action</a></li>
    <li><a href="#" class="dropdown-item">Another action</a></li>
    <li class="dropdown-submenu"><a id="navbarDropdownMenuLink2" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">Dropdown link<i class="fa fa-angle-down"></i></a>
    <ul aria-labelledby="navbarDropdownMenuLink2" class="dropdown-menu">
        <li><a href="#" class="dropdown-item">Action</a></li>
        <li class="dropdown-submenu"><a id="navbarDropdownMenuLink3" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
            
            Another action<i class="fa fa-angle-down"></i></a>
        <ul aria-labelledby="navbarDropdownMenuLink3" class="dropdown-menu">
            <li><a href="#" class="dropdown-item">Action</a></li>
            <li><a href="#" class="dropdown-item">Action</a></li>
            <li><a href="#" class="dropdown-item">Action</a></li>
            <li><a href="#" class="dropdown-item">Action</a></li>
        </ul>
        </li>
        <li><a href="#" class="dropdown-item">Something else here</a></li>
    </ul>
    </li>
</ul>
</li>
<!-- Multi level dropdown end-->
