<!-- Tob Bar-->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
        <div class="col-lg-6 hidden-lg-down text-col">
            <ul class="list-inline">
            <li class="list-inline-item"><i class="icon-telephone"></i>020-800-456-747</li>
            <li class="list-inline-item">Free shipping on orders over $300</li>
            </ul>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
            <!-- Language Dropdown-->
            <div class="dropdown show"><a id="langsDropdown" href="https://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><img src="img/united-kingdom.svg" alt="english">English</a>
            <div aria-labelledby="langsDropdown" class="dropdown-menu"><a href="#" class="dropdown-item"><img src="img/germany.svg" alt="german">German</a><a href="#" class="dropdown-item"> <img src="img/france.svg" alt="french">French</a></div>
            </div>
            <!-- Currency Dropdown-->
            <div class="dropdown show"><a id="currencyDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">USD</a>
            <div aria-labelledby="currencyDropdown" class="dropdown-menu"><a href="#" class="dropdown-item">EUR</a><a href="#" class="dropdown-item"> GBP</a></div>
            </div>
        </div>
        </div>
    </div>
</div>