<!-- Tob Bar-->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 hidden-lg-down text-col">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="icon-telephone"></i>(011) 94-025-8618</li>
                    <li class="list-inline-item">Frete grátis para Grande SP nas compras acima de R$150,00</li>
                </ul>
            </div>
            <div class="col-lg-6 d-flex justify-content-end"></div>
        </div>
    </div>
</div>
